
*{
    margin: 0;
    padding: 0;
}

/*  home naviagation  csss */
.navigation {
    background-color: rgb(13, 217, 217);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_contaner{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .nav_contaner ul{
    display: flex;
    text-decoration: none;
  }
  .nav_contaner ul li{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    
  }
  .nav_contaner ul li i{
    margin-right: 10px;
  }
  .nav_contaner ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  ul li a:hover{
    color: blue;  
  }
  
  .logo {
    height: 40px;
    width: 200px;
     margin-left: 30px;
    /*position: relative;*/
    justify-content: center;
    align-items: center;;
  }
  
  /* other navigation css */
  .navbar{
    background-color: rgb(13, 217, 217);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.logo_contaner {
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.logo{
    height: 40px;
    width: 200px;
    /* margin-left: 30px; */
    position: relative;
    justify-content: center;
    align-items: center;
}
.color{
  color: rgb(13, 217, 217);
} 

.nav_contaner{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.nav_contaner ul{
    display: flex;
    text-decoration: none;
}
.nav_contaner ul li{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    
}
.nav_contaner ul li i{
    margin-right: 10px;
}
.nav_contaner ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover{
    color: blue;  
}
#c_password{
  background-color:  rgb(13, 217, 217);
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}
#c_password:hover{
  color: #1C3EF1;
}
  
  /* Main Body csss */
  .main_body{
    background-image: linear-gradient(rgba(4,9,25,.4),rgba(4,9,25,.7)),url(img/pillai1.png);
    min-height: 90.3vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 0;
  }
  /* text css */
  .main {
    position: relative;
    text-align: center;
    color: white;
  }
  .text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;left: 50%;
    margin-top: 280px;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .text h1{
    font-size: 62px;
  }
  .text p{
    margin: 10px 0 40px;
    font-size: 14px;
  
  }
  /* visit btn css */
  .Visti{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid rgb(13, 217, 217);
    padding: 12px 34px;
    font-size: 13px;
    background: rgb(13, 217, 217);
    position: relative;
    cursor: pointer;
  }
  .Visti:hover{
    background:transparent;
    color: rgb(13, 217, 217);
  }
  
  /* login form css */
  .login {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 10;
  
  }
  .hidden{
    display: none;
  }
  .left {
    background-color: white;
    border: none;
    width: 30rem;
    height: 30rem;
    border-radius: 5px 0 0 5px;
  }
  .head {
    display: flex;
   
  }
  ::placeholder {
    color:rgb(13, 217, 217) ;
    opacity: 1; 
  }
  
  .log-logo {
    margin-top: 10px;
    border-radius: 5px; 
  }
  
  .btn {
    margin-left: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 14px;
    color: gray;
    cursor: pointer;
  }
  /* .btn:hover,.btn:active{
    color: rgb(13, 217, 217);
    transition: 0.2s;
  }
   */
  .img_3 {
    width: 100%;
    height: 30rem;
    border-radius: 0 5px 5px 0;
  }
  .details {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
  
  }
  form{
    margin-top: 40px;
  }
  
  .details form input{
      border: none;
      border-bottom: 1px solid black;
      width: 95%;
      height: 3rem;
  }
  input:focus{
    outline: none;
  }
  .fa-envelope, .fa-lock{
    position: absolute;
    margin-top: 25px;
    margin-left: -20px;
  }
  .submit{
      margin-top: 4rem;
      border-radius: 20px;
      font-size: 25px;
      width: 70%;
      font-family: 'Poppins', sans-serif;
      margin-left: 10px;
      cursor: pointer;
      color: white;
      background-image: linear-gradient(rgba(13, 217, 217, 1),
      rgba(13, 217, 217, 1),
      rgba(13, 217, 217, 0.37)) ;
      
  }
  .sign-desc{
      color: grey;
      margin-top: 5px;
      font-weight: 100;
  }
  .switch_right{
    grid-column: 2;
    border-radius: 0 5px 5px 0;
  }
  
  .switch_left{
    grid-column: 1;
    grid-row: 1;
  }
  
  .icon_left{
    left:88%
  }
  .overlay{
    position: absolute;
    top: 60px;
    left: 0;
    height: 90.5%;
    width: 100%;
    z-index: 5;
 }
/*================================== marks Entry Page css========================== */

/* Marks entry 1 */
.session select{
  display: flex;
  width: 250px;
  margin-top: 10px;  
}

.heading{
    margin: 30px 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 30px;
    color: black;

}
.table_borde{
    border: 1px solid black;
    max-width: 2000px;
    margin-left: 70px;
    width: 90%;
}
.table_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.selected_content{
    display: flex;
    padding: 20px;
}
.session{
    margin-left: 30px;
}
.session label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.session input{
    margin-top: 7px;
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(226, 226, 226);
}
.session input:focus{
    outline: none;
}
/* Table css */
.table_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.Marks_entry_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
  .Marks_entry_table td, .Marks_entry_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }  
.Marks_entry_table td input{
    width: 60%;
    height: 30px;
}
  .Marks_entry_table tr:nth-child(even){background-color: #f2f2f2;}
  
  .Marks_entry_table tr:hover {background-color: #ddd;}
  
  .Marks_entry_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(13, 217, 217);
    color: white;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /* Button Css */
  .marks_entry_btn{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .print_btn{
      width: 40%;
      height: 30px;
      margin: 20px;
      background-color: blue;
      color: white;
      font-size:20px;
      border: 1px solid black;
      border-radius: 4px;
  }
  .print_btn:hover{

      background-color: transparent;
      box-shadow: 5px 5px 5px #888888;
      color: black;
  }

/* Dashboard css */
.dashboard_contaner{
    display: flex;
}
.dashboard{
    margin-left: 50px;
    background-color: #0895B6;
    width: 250px;
    height: 130px;
    border-radius: 10px;
}
.dashboard h3{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40px 20px;
}
.option{
    background-color: #0885A3;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;  
    border-radius: 10px;
}
.option a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.change_password{
  background-color:rgba(0,0,0,0.2) ;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  /* opacity: 0; */
  /* pointer-events: none; */
  display: none;
  transition: opacity .3s ease;

}
.show_change_password{
  display: flex;
}
.change_password .show_change_password .change_password_containt{
  transform: translateY(0px);
}
.change_password_containt{
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 10px 30px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}
.change_password_containt h1{
  margin: 0;
  margin-bottom: 20px;
}
.change_password_containt input{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  padding-left: 10px;
}


/* -------------------------------------Baranch css--------------------------- */
.add_btn{
  border: none;
  background-color: rgb(13, 217, 217);
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.add_btn:hover{
  background-color: transparent;
  border: 1px solid rgb(13, 217, 217);
  color: rgb(13, 217, 217);
}
.btn_class{
  display: flex;
  align-items: center;
  justify-content: center;
}
.active_btn{
  border: none;
  background-color: #1D9344;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  width: 40px;
}
.inactive_btn{
  border: none;
  background-color: red;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  
}
.edit_btn{
  border: none;
  background-color: #1C3EF1;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.delet_btn{
  border: none;
  background-color: #F11C1C;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Delete dailog box css */
.delete_dialog{
  background-color:rgba(0,0,0,0.2) ;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}
.active {
  opacity: 1;
  pointer-events: auto;
}
.delete_dialog .active .delete_content{
  transform: translateY(0px);
}
.delete_content{
  background-color: white;
  width: 450px;
  max-width: 100%;
  padding: 10px 30px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
 
}
.delete_content p{
  color: gray;
  margin:5px 0px;

}
.delete_btn{
  border: 0;
  padding: 5px;
  background-color: #F11C1C;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.cancel_btn{
  border: 0;
  padding: 5px;
  background-color: #888383;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.dailog_btn{
  margin-top: 30px;
 float: right;
}

/* ==============================Add Branch Dailog box============================ */
.addbranch{
  
}
.border{
  border: 1px solid black;
  width: 80%;
  height: 400px;
  font-family: 'Poppins', sans-serif;
}
.add_branch_contaner{
  margin-left: 180px;
  /* background-color: white; */
  width: 600px;
  max-width: 100%;
  padding: 10px 30px 20px;
  
}
.add_branch_contaner h1{
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  
}
.add_branch_contaner label{
  font-family: 'Poppins', sans-serif;
}

.add_branch_contaner input,select{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  
}

/*================== Edit Branch Dailog Box =========================*/
/* .edit_branch{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
} */
.edit_branch_border{
  border: 1px solid black;
  width: 1000px;
  height: 400px;
}
.edit_branch_contaner{
  width: 600px;
  max-width: 100%;
  padding: 10px 30px 20px;
  margin-left: 18%;
 
}
.edit_branch_contaner h1{
  margin: 0;
  margin-bottom: 20px;
  
}
.edit_branch_contaner input,select{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}


/* ================================subject ===================================================== */
.subject_border{
  margin-left: 10%;
  border: 1px solid black;
  width: 80%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.select_dropdown{
  display: flex;
  margin: 20px;
  justify-content: space-between;

}
.select_dropdown select{
  color: gray;
  padding: 5px;
}
.sub_branch,.sub_semester{
  width: 30%;
}
.sub_details{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.sub_detail input{
  padding: 5px;
}
.button_class{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.button_class input{
  width: 48%;
  padding: 5px;
  border: none;
  color: white;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}


/* ===========================add student=============================== */
.Studadd{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}
.student_detail{
  display: flex;
  flex-direction: column;
}
.student_detail input,select{
  width: 18rem;
  height: 25px;
}
.student_detail select{
  height: 30px;
}

/* ================================marks================================== */
.student_details{
  display: flex;
  justify-content: space-between;
  margin: 10px 70px;
  font-family: 'Poppins', sans-serif;
  color: gray;
}
.detail{
  display: flex;
}